.m-50 {
    margin: 50px;
}

.bg-my-post {
    border-radius: 10px;
    box-shadow: 0px 1px 2px gray;
}

.header-my-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 20px !important;
    border-bottom: solid 1px gray;
}

.btn-create-new-post {
    font-size: 14px !important;
    padding: 10px 20px !important;
}

.m-20 {
    margin: 20px;
}

.mt-50 {
    margin-top: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}

.list-my-post {
    height: 500px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.p-40 {
    padding: 40px;
}

.p-20-50 {
    padding: 20px 50px;
}

.bg-all-my-post {
    padding: 50px 0px !important;
}

.p-0-50 {
    padding: 0px 50px;
}

.my-post-blank {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.blocked-post {
    color: red;
}

.public-post {
    color: blue;
}

.private-post {
    color: orange;
}
