.btn-confirm-service {
    background-color: #02a499 !important;
    border: solid 1px #02a499 !important;
}

.btn-confirm-service:hover {
    background-color: #007e76 !important;
    border: solid 1px #007e76 !important;
}

.btn-confirm-service:active {
    background-color: #006e67 !important;
    border: solid 1px #006e67 !important;
}

.content-title-view-service {
    padding: 20px 20px 20px 20px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: solid 1px #d9d9d9;
    margin-bottom: 30px;
}

.btn-confirm-or-refuse {
    button {
        padding: 10px 40px !important;
        margin: 5px 10px;
        font-size: 14px;
    }
}

.title-admin-view-service {
    font-weight: bold;
    font-size: 18px;
}

.main-content-right-view-service-under {
    padding: 0px 40px 20px 40px;
}

.main-content-view-service-admin {
    width: 97%;
    float: right;
    transition: 0.2s;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 2px #c1c1c1;
}

.nav-view-service-admin {
    background-color: #f1f1f1;
}

.item-nav-view-service-admin {
    width: 18%;
    text-align: center;
    padding: 20px 0px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
    margin-right: 1px;
    transition: 0.5s;
}

.item-nav-view-service-admin-selected {
    box-shadow: 0px -1px 0px 1px rgba(116, 153, 255, 1);
}

.item-nav-view-service-admin-unselected {
    border-bottom: solid 1px rgba(115, 152, 255, 1);
}

.br-left-top {
    border-top-left-radius: 5px;
}

.br-right-top {
    border-top-right-radius: 5px;
}

.btn-delete {
    padding: 10px 40px !important;
    font-size: 14px !important;
}
