.right-content-create-tour {
    background-color: transparent !important;
    box-shadow: none;
}

.content-title-view-admin {
    margin-bottom: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 20px;
    box-shadow: 0px 1px 2px 1px #d9d9d9;
}

.main-content-right-view-tour-under {
    transition: 0.5s;
    width: 100%;
    margin-bottom: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.p-0 {
    padding: 0 !important;
}
