@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

:root {
    --primary: aqua;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    color: #333;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

label {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

#btn-back-top {
    display: none;
    width: 60px;
    height: 60px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    background-color: rgb(41, 159, 255);
    border-radius: 50px;
    position: fixed;
    right: 12px;
    margin: 0px 12px;
    bottom: 105px;
    transition: 0.5s;
    cursor: pointer;
    animation: fadeIn 0.5s forwards;
}
