.btn-apply-promo {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    font-weight: bold !important;
    color: white !important;
    font-size: 16px !important;
}

.mlr-20 {
    margin-left: 20px;
    margin-right: 20px;
}

.ml-80 {
    margin-left: 77%;
}

.image-information-order {
    width: 45%;
    height: 100px;
    border-radius: 10px;
}

.p-10 {
    padding: 10px;
}

.w-65 {
    width: 65%;
}

.w-35 {
    width: 35%;
}

.font-14 {
    font-size: 14px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-10 {
    margin-top: 10px;
}

.font-18 {
    font-size: 18px;
}

.totle-money-details {
    padding-top: 10px;
    border-top: solid 1px gray;
    padding-bottom: 10px;
}

.p-20 {
    padding: 10px 20px !important;
}
