.item-right {
    justify-content: right;
}

.btn-access {
    width: 50%;
    padding: 10px 20px !important;
    font-size: 16px !important;
    font-weight: bold !important;
    margin-right: 20px;
}

.btn-refuse {
    width: 50%;
}

.back-link-request-cancel-detail {
    font-size: 20px;
}

.center-vertical {
    align-items: center;
    align-content: center;
}
