.mlr-2-5-per {
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.w-22 {
    width: 24%;
}

.tab-report {
    min-height: 70vh;
    max-height: 70vh;
}

.pb-0 {
    padding-bottom: 0;
}

.m-10 {
    margin: 10px;
}

.link-to-tour {
    cursor: pointer;
    transition: 0.5s;
}

.link-to-tour:hover {
    color: rgb(34, 170, 255);
}

.mt-nega-54 {
    margin-top: -54px;
}

.list-overflow {
    height: 82%;
}
