.header-container {
    min-width: 100% !important;
    z-index: 1;
    width: 100px;
    background-color: white;
    padding: 0px 120px !important;
    box-shadow: 0px 2px 5px gray;
    transition: 0.2s;
}

.header-main {
    height: auto;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    z-index: 2;
}

.nav-link {
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: space-between;
}

.inner {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1% 0px;
    text-decoration: none !important;
    cursor: pointer;
}

.logo {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    object-fit: cover;
    margin-right: 10px;
}

.text-logo {
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.link {
    margin: 10px 10px 10px 6px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border: 0px;
    cursor: pointer;
    font-size: 16px;
}

.login {
    margin-left: 50px;
}

.register {
    padding: 10px 17px;
    border-radius: 20px;
    background-color: #4874e8;
    color: white;
}

.register:hover {
    animation: hoverButton 0.2s forwards;
}

.icon-image {
    width: 15px;
    vertical-align: middle;
    margin-bottom: 3px;
    margin-right: 3px;
}

.bg-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(33, 19, 13, 0.5);
}

.popup {
    position: fixed;
    width: 100%;
    height: 100vh;
    animation: fadeIn 0.2s forwards;
    z-index: 2;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes hoverButton {
    from {
        background-color: #4874e8;
        color: white;
    }
    to {
        background-color: #86a6ff;
        color: white;
    }
}

.select-language {
    margin-left: 8px;
    font-size: 16px;
}

details {
    display: inline;
    transition: 0.5s;
}

details > summary {
    list-style: none;
}
details > summary::-webkit-details-marker {
    display: none;
}

.label-select-language {
    position: absolute;
    padding: 5px 10px;
    margin-left: 10px;
    background-color: white;
    z-index: 2;
    border: solid 1px #ccc;
    border-radius: 5px;
    border-top-right-radius: 0px;
    font-size: 16px;
    transition: 0.5s;
}

.dropdown-profile-item {
    position: absolute;
    margin-top: 10px;
    z-index: 2;
    color: black;
    background-color: white;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px black;
}

.item-dropdown-profile {
    display: block;
    font-weight: normal;
    text-decoration: none;
    margin: 10px 0px;
    color: black;
}

.icon-dropdown-profile {
    color: #4874e8;
    width: 20px;
    height: auto;
}

.text-dropdown-main {
    display: inline-flex;
}

.icon-dropdown-profile-main {
    display: inline-flex;
    width: 16px !important;
    height: auto;
    margin: 0px 10px !important;
    z-index: 2;
}

.icon-lower {
    margin-top: 4px;
}
