.border-none {
    border: none;
    padding: 0;
}

.quill-create-tour {
    height: 200px;
    padding-bottom: 40px;
}

.form-tour-schedule {
    transition: 0.5s;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 0px #d9d9d9;
    margin-bottom: 20px;
}

.btn-show-hide-overflow-down {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pb-200 {
    padding-bottom: 200px;
}

.pd-30-20 {
    padding: 30px 20px;
    margin: 0;
}
