.basic-multi-select {
    padding: 0;
    border: none;
    margin: 15px 0px !important;
    input {
        border: none !important;
    }

    label {
        color: black !important;
    }
}

.icon-select {
    width: 25px !important;
    height: auto;
    margin-right: 10px !important;
    color: black !important;
}

.align-up {
    align-items: flex-start !important;
}

.box-select-utilities {
    align-items: center !important;
}
