.title-select-detail-service{
    color: rgba(60, 113, 255, 0.97);
}

.item-detail-service{
    width: 60%;
    padding: 30px;
    margin: auto;
    align-items: center;
    justify-content: start;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px gray;
    cursor: pointer;
    transition: .2s;
}

.selected{
    box-shadow: 0px 0px 0px 3px rgba(60, 113, 255, 0.97);
}

.logo-item-detail-service{
    width: 100px;
    height: auto;
    margin-right: 50px;
}

.description-detail-service{
    font-size: 14px;
    padding: 30px;
}

.detail-service{
    width: 100% !important;
    margin: 0px !important;
    background-color: #f1f1f1;
    padding: 20px;
    animation: fadeIn .5s forwards;
}

.title-detail-service{
    font-weight: bold;
    font-size: 18px;
}

.location-btn-submit{
    width: 80%;
    display: flex;
    justify-content: right;
}

.btn-submit-detail-service{
    margin: 20px 0px !important;
    padding: 15px 70px !important;
    font-size: 16px !important;
    font-weight: bold !important;
}